<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <div class="logo">
            <h1>Restaurant</h1>
        </div>
        <ul id="list" class="list">
            <li><a href="#home">Home</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <div id="burger" class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <main>
        <div id="home" class="container">
            <div class="imgs">
                <h1>Restaurant</h1>
                <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eius, neque unde ut cupiditate mollitia totam reiciendis qui saepe sapiente, nostrum, deserunt doloribus nesciunt a earum eum quidem sint impedit?</p>
            </div>
            <div id="menu" class="tobic">
                <h2>Menu</h2>
            </div>
            <div class="menu">
                <div class="box">
                    <div class="img">
                        <img src="imgs/burger.jpeg" alt="">
                    </div>
                    <div class="text">
                        <h2>Burger</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eius, neque unde ut cupiditate mollitia totam reiciendis qui saepe sapiente</p>
                    </div>
                    <span class="price">120 L.E</span>
                    <button class="btn">Order</button>
                </div>
    
                <div class="box">
                    <div class="img">
                        <img src="imgs/fried_chicken.jpeg" alt="">
                    </div>
                    <div class="text">
                        <h2>Fried Chicken</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eius, neque unde ut cupiditate mollitia totam reiciendis qui saepe sapiente</p>
                    </div>
                    <span class="price">120 L.E</span>
                    <button class="btn">Order</button>
                </div>
                <br class="br">
                <div class="box">
                    <div class="img">
                        <img src="imgs/pasta.jpeg" alt="">
                    </div>
                    <div class="text">
                        <h2>Pasta</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eius, neque unde ut cupiditate mollitia totam reiciendis qui saepe sapiente</p>
                    </div>
                    <span class="price">120 L.E</span>
                    <button class="btn">Order</button>
                </div>
            </div>
            <div class="tobic">
                <h2>About</h2>
            </div>
            <div id="about" class="about">
                <div class="con">
                    <h2 class="h2">Our Story</h2>
                    <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eius, neque unde ut cupiditate mollitia totam reiciendis qui saepe sapiente, nostrum, deserunt doloribus nesciunt a earum eum quidem sint impedit?</p>
                    <h2 class="h2">Our Expansion</h2>
                    <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eius, neque unde ut cupiditate mollitia totam reiciendis qui saepe sapiente, nostrum, deserunt doloribus nesciunt a earum eum quidem sint impedit?</p>
                    <h2 class="h2">Our Vision</h2>
                    <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa eius, neque unde ut cupiditate mollitia totam reiciendis qui saepe sapiente, nostrum, deserunt doloribus nesciunt a earum eum quidem sint impedit?</p>
                </div>
            </div>
            <div id="contact" class="tobic">
                <h2>Contact</h2>
            </div>
            <div class="contact">
                <form action="/contact" method="post">
                    <label for="name">Name</label>
                    <input class="inp" type="text" name="name" id="name">
                    <label for="email">Email</label>
                    <input class="inp" type="text" name="email" id="email">
                    <label for="message">Message</label>
                    <textarea class="textarea" name="message" id="message"></textarea>
                    <input class="submit" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="r">
            <a href="#">Facebook</a>
            <a href="#">InstaGram</a>
            <a href="#">YouTube</a>
            <a href="#">X</a>
        </div>
        <div class="l">
            <p>Copyright 2024 <span>Kerolus Ashraf</span></p>
            <p>images from <span>adobe stock</span></p>
        </div>
    </footer>
</body>
</html>